In [1]:
# 1. Import the relevant libraries, along with your ords_prods_merge dataframe

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import os

In [5]:
path= r'C:\Users\user\OneDrive - Universitat de Barcelona\Instacart Basket Analysis'

In [8]:
ords_prods_merge= pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merge_final.pkl'))

In [9]:
ords_prods_merge.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,department_id,prices,merge_status,price_range_loc,busiest day,busiest days,busiest hours,busiest_period_of_day,max_order,loyalty_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer
1,0,2539329,1,prior,1,2,8,NaN,14084,2,...,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer
2,0,2539329,1,prior,1,2,8,NaN,12427,3,...,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer
3,0,2539329,1,prior,1,2,8,NaN,26088,4,...,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer
4,0,2539329,1,prior,1,2,8,NaN,26405,5,...,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer

In [10]:
# 2. you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. 
# Now, repeat this process for the entire dataframe

In [13]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [12]:
# 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? 
# Include your comments in a markdown cell below the executed code

**The results for the entire DataFrame show different mean order numbers for each department_id compared to the subset because they are calculated from a larger dataset. The means in the subset may be lower or higher depending on the specific data included, while the entire DataFrame provides a more comprehensive average**

In [14]:
# 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions

In [15]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [16]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [17]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [20]:
# 5. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category 
# (Loyal Customer, Regular Customer, and New Customer)

In [24]:
ords_prods_merge.groupby('loyalty_flag')['prices'].agg(['mean', 'min', 'max', 'median'])

                       mean  min      max  median
loyalty_flag
Loyal customer    10.386336  1.0  99999.0     7.4
New customer      13.294670  1.0  99999.0     7.4
Regular customer  12.495717  1.0  99999.0     7.4

In [25]:
# 6. Create a spending flag for each user based on the average price across all their orders using the following criteria
# If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
# If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [31]:
ords_prods_merge['avg_price_per_user'] = ords_prods_merge.groupby('user_id')['prices'].transform('mean')

In [32]:
ords_prods_merge.loc[ords_prods_merge['avg_price_per_user'] < 10, 'spending_flag'] = 'Low spender'

In [33]:
ords_prods_merge.loc[ords_prods_merge['avg_price_per_user'] >= 10, 'spending_flag'] = 'High spender'

In [34]:
ords_prods_merge.head(5)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,merge_status,price_range_loc,busiest day,busiest days,busiest hours,busiest_period_of_day,max_order,loyalty_flag,spending_flag,avg_price_per_user
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer,Low spender,6.367797
1,0,2539329,1,prior,1,2,8,NaN,14084,2,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer,Low spender,6.367797
2,0,2539329,1,prior,1,2,8,NaN,12427,3,...,both,Low-range product,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer,Low spender,6.367797
3,0,2539329,1,prior,1,2,8,NaN,26088,4,...,both,Low-range product,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer,Low spender,6.367797
4,0,2539329,1,prior,1,2,8,NaN,26405,5,...,both,Low-range product,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer,Low spender,6.367797

In [35]:
# 7.Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column
# If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
# If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
# If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [36]:
ords_prods_merge['order_regularity']=ords_prods_merge.groupby('user_id')['days_since_prior_order'].transform('median')

In [37]:
ords_prods_merge.loc[ords_prods_merge['order_regularity']>20, 'order_frequency_flag']='Non-frequent customer'

In [39]:
ords_prods_merge.loc[(ords_prods_merge['order_regularity']> 10) & (ords_prods_merge['order_regularity']<=20),'order_frequency_flag']='Regular customer'

In [40]:
ords_prods_merge.loc[ords_prods_merge['order_regularity']<=10,'order_frequency_flag']='Frequent customer'

In [41]:
ords_prods_merge.head(5)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,busiest day,busiest days,busiest hours,busiest_period_of_day,max_order,loyalty_flag,spending_flag,avg_price_per_user,order_regularity,order_frequency_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer,Low spender,6.367797,20.5,Non-frequent customer
1,0,2539329,1,prior,1,2,8,NaN,14084,2,...,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer,Low spender,6.367797,20.5,Non-frequent customer
2,0,2539329,1,prior,1,2,8,NaN,12427,3,...,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer,Low spender,6.367797,20.5,Non-frequent customer
3,0,2539329,1,prior,1,2,8,NaN,26088,4,...,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer,Low spender,6.367797,20.5,Non-frequent customer
4,0,2539329,1,prior,1,2,8,NaN,26405,5,...,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer,Low spender,6.367797,20.5,Non-frequent customer

In [42]:
# 9. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder

In [43]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_final.pkl'))